{% extends 'layout/main.html.twig' %}

    {% block title %}
    APP | HOME
    {% endblock %}

    
    {% block mainBody %}
        


        <section class="content">
            <div class="container-fluid">

                <div class="card p-2">
                    content
                </div>                      

            </div>

        </section>

        
    {% endblock %}





